.filter {
  &__title {
    display: none;
    text-align: center;
    color: #000000;
    font: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    column-gap: 8px;
  }

  &__botton {
    background-color: $background-light;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    font: 500 16px Roboto;
    line-height: 1.62;
    color: var(--title-text-color);
    cursor: pointer;
    background-image: linear-gradient(
      to left,
      transparent,
      transparent 50%,
      #2196f3 50%,
      #2196f3
    );
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.25s ease-in;
  
    &:hover,
    &:focus {
      background-color: $accent-color;
      background-position: 0 0;
      color: $main-color;
    }
  
    &:active {
      background-color: $accent-color;
    }
  }
}
